
@{
    ViewBag.Title = "DeneyimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2 style="text-align: center; font-weight: bold; color: #343a40;">Yeni Deneyim Ekleme Paneli</h2>
<br />
<a href="/Deneyim/Index/" class="btn btn-primary" style="float: right;">Geri Dön</a>
<br />
<form method="post" class="form-group">


    <!-- Text input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="form6Example3">Şirket Adı</label>

        <input type="text" placeholder="Lütfen şirket adını giriniz" name="Baslik" id="form6Example3" class="form-control" required />
    </div>

    <!-- Text input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="form6Example4">Pozisyon | Ünvan</label>

        <input type="text" placeholder="Lütfen Pozisyon bilgisini giriniz" name="AltBaslik" id="form6Example4" class="form-control" required />
    </div>

    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="form6Example5">Tarih</label>

        <input type="text" placeholder="Lütfen Başlangıç ve bitiş tarihlerini aa.yyyy formatında giriniz" name="Tarih" id="form6Example5" class="form-control" required />
    </div>


    <!-- Message input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="form6Example7">İş Akışı Açıklaması</label>

        <textarea class="form-control" placeholder="Deneyiminizle ilgili açıklamayı buraya yazınız" name="Aciklama" id="form6Example7" rows="4" required></textarea>
    </div>



    <!-- Submit button -->
    <button data-mdb-ripple-init class="btn btn-success btn-block mb-4">Yeni Deneyimi Kaydet</button>
</form>